logs/

!logs/.gitkeep
*.bak-*
*.log
*.out.log
*.err.log
*.log.jsonl

.githooks/*.bak
.gpt5.lock# kobong internal
.kobong/
.rollbacks/
# node_modules (root/webui)
node_modules/
webui/node_modules/
# local env
webui/.env.local
webui/.env.*.local

_deploy/


*.env


# GHMON env



